:root {
  --skyBlueBackground: #93bede;
  --placeHolderColor: #e0d1c8;
  --gray-border: #d5d5d5;
  --white: #ffffff;
  --deep_blue: #151e3b;
  --blue_bold_text: #378ce6;
  --placeHolderColor: #e0d1c8;
  --button-color: #385499;
}
